<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>注册</title>
</head>
<body>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    
    <div class="row">
    	<div class="col l5 s2"></div>
    	<div id="content" class="col l2 s8 card-panel z-depth-3 grey lighten-4">
    		<form action="{% url 'login:change_password' %}" method="post">
				{% csrf_token %}
		    	<div class="row center-align">
		    		<h5>修改密码</h5>
		    	</div>
		    	<div class="row">
		    		<div class="input-field">
		    			<input type="text" name="validation_code" value="{{ form.validation_code.value }}"
		    				placeholder="请输入验证码" id="validation_code" autocomplete="off">
		    			<label for="validation_code">邮箱验证码：</label>
		    		</div>
		    		{% if form.errors.validation_code %}
                    <label class="col l12 s12 error">{{ form.errors.validation_code }}</label>
                    {% endif %}
		    		<label id="validation_code_error" class="col l12 s12 error" hidden="hidden">验证码不能为空</label>
		    	</div>
		    	<div class="row">
		    		<div class="input-field">
		    			<input type="password" name="password"
		    				placeholder="请输入新密码" id="password" autocomplete="off">
		    			<label for="password">新密码：</label>
		    		</div>
		    		{% if form.errors.password %}
                    <label class="col l12 s12 error">{{ form.errors.password }}</label>
                    {% endif %}
		    		<label id="password_error" class="col l12 s12 error" hidden="hidden">密码不能为空</label>
		    	</div>
		    	<div class="row">
		    		<div class="input-field">
		    			<input type="password" name="sure_password" 
		    				placeholder="确认新密码" id="sure_password" autocomplete="off">
		    			<label for="sure_password">确认新密码：</label>
		    		</div>
                    {% if form.errors.sure_password %}
                    <label class="col l12 s12 error">{{ form.errors.sure_password }}</label>
                    {% endif %}
		    		<label id="sure_password_error" class="col l12 s12 error" hidden="hidden">请确认密码正确</label>
		    		<a class="col l12 s12 right-align" href="{% url 'login:do_login' %}">返回登录</a>
		    	</div>
		    	<input type="hidden" name="username" value="{{ username }}">
    		</form>
    		<div class="row">
	    		<button type="button" onclick="submit()" class="col l12 s12 waves-effect waves-light btn">修改</button>
	    	</div>
            {% if change_error %}
            <div class="row">
                <label class="col l12 s12 error">{{ change_error }}</label>
            </div>
            {% endif %}
    	</div>
    	<div class="col l5 s2"></div>
    </div>
    
    <script type="text/javascript">
    function submit() {
		var isError = false;
		
		var validation_code = $("#validation_code").val();
		if (validation_code == null || validation_code == "") {
			$('#validation_code_error').show();
			isError = true;
		} else {
			$('#validation_code_error').hide();
		}
		
		var password = $("#password").val();
		if (password == null || password == "") {
			$("#password_error").show();
			isError = true;
		} else {
			$("#password_error").hide();
			
			var sure_password = $("#sure_password").val();
			if ($("#password").val() != $("#sure_password").val()) {
				$("#sure_password_error").show();
				isError = true;
			} else {
				$("#sure_password_error").hide();
			}
		}
		
		if (!isError) {
			$("form").submit();
		}
	}
    </script>
</body>
</html>