<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>注册</title>
</head>
<body>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    
    <div class="row">
    	<div class="col l5 s2"></div>
    	<div id="content" class="col l2 s8 card-panel z-depth-3 grey lighten-4">
    		<form action="{% url 'login:forget_password' %}" method="post">
                {% csrf_token %}
    			<div class="row center-align">
		    		<h5>修改密码</h5>
		    	</div>
		    	<div class="row">
		    		<div class="input-field">
		    			<input type="text" placeholder="请输入用户名" id="username"
		    				name="username" value="{{ form.username.value }}" autocomplete="off">
		    			<label for="username">用户名：</label>
		    		</div>
                    {% if form.errors.username %}
		    		<label class="col l12 s12 error">{{ form.errors.username }}</label>
                    {% endif %}
		    		<label id="username_error" class="col l12 s12 error" hidden="hidden">用户名不能为空</label>
		    	</div>
		    	<div class="row">
		    		<div class="input-field">
		    			<input type="text" placeholder="请输入email" id="email"
		    				name="email" value="{{ form.email.value }}" autocomplete="off">
		    			<label for="email">email：</label>
		    		</div>
                    {% if form.errors.email %}
		    		<label class="col l12 s12 error">{{ form.errors.email }}</label>
                    {% endif %}
		    		<label id="email_error" class="col l12 s12 error" hidden="hidden">请正确填写邮箱</label>
		    		<a class="col l12 s12 right-align" href="{% url 'login:do_login' %}">返回登录</a>
		    	</div>
    		</form>
	    	<div class="row">
	    		<button type="button" onclick="submit()" class="col l12 s12 waves-effect waves-light btn">发送邮件</button>
		   	</div>
    	</div>
    	<div class="col l5 s2"></div>
    </div>
    
    <script type="text/javascript">
    	function submit() {
    	    $("form").submit();
    	    return;

    		var isError = false;
    		
    		var username = $("#username").val();
			if (username == null || username == "") {
				$('#username_error').show();
				isError = true;
			} else {
				$('#username_error').hide();
			}
			
			var pattern = /^[0-9a-zA-Z]{1,}@[0-9a-zA-Z]{1,}\.\w+$/;
			var email = $("#email").val();
			if (!pattern.test(email)) {
				$('#email_error').show();
				isError = true;
			} else {
				$('#email_error').hide();
			}
			
			if (!isError) {
				$("form").submit();
			}
		}
    </script>
</body>
</html>