<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/regist.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>注册</title>
</head>
<body>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    
    <div class="row">
    	<div class="col l4 s1"></div>
    	<div class="col l4 s10 card-panel z-depth-3 grey lighten-4" id="content">
	    	<form action="{% url 'login:register' %}" method="post">
                {% csrf_token %}
		    	<div class="row">
		    		<h5 class="center-align">用户注册</h5>
		    	</div>
		    	<div class="row">
		    		<div class="col l12 s12 input-field">
		    			<input type="text" placeholder="请输入用户名" id="username" name="username" autocomplete="off">
		    			<label for="username">用户名：</label>
		    		</div>
                    {% if errors.username %}
                    <label class="col l12 s12 error">{{ errors.username }}</label>
                    {% endif %}
		    		<label id="username_error" class="col l12 s12 error" hidden="hidden">用户名不能为空</label>
		    	</div>
		    	<div class="row">
		    		<div class="col l12 s12 input-field">
		    			<input type="text" placeholder="请输入email" id="email" name="email" autocomplete="off">
		    			<label for="username">email：</label>
		    		</div>
                    {% if errors.username %}
                    <label class="col l12 s12 error">{{ errors.email }}</label>
                    {% endif %}
					<label id="email_error" class="col l12 s12 error" hidden="hidden">请正确填写邮箱</label>	    	
				</div>
		    	<div class="row">
		    		<div class="col l12 s12 input-field">
		    			<input type="password" placeholder="请输入密码" id="password" name="password" autocomplete="off">
		    			<label for="password">密码：</label>
		    		</div>
                    {% if errors.username %}
                    <label class="col l12 s12 error">{{ errors.password }}</label>
                    {% endif %}
				</div>
	    		<div class="row">
		    		<div class="col l12 s12 input-field">
		    			<input type="password" placeholder="请输入密码" id="sure_password" autocomplete="off">
		    			<label for="password">确认密码：</label>
		    		</div>
		    		<label id="sure_password_error" class="col l12 s12 error" hidden="hidden">请确认密码正确</label>
		    		<a class="col l12 s12 right-align" href="login">返回登录</a>
		    	</div>
		   	</form>
		   	<div class="row">
		   		<button type="button" onclick="submit()" class="col l12 s12 waves-effect waves-light btn">注册</button>
		   	</div>
		   	<div class="row">
		   		<label class="col l12 s12 center-align error"></label>
		   	</div>
	    </div>
	    <div class="col l4 s1"></div>
    </div>
    
    <script type="text/javascript">
		function submit() {
			var isError = false;
			
			var username = $("#username").val();
			if (username == null || username == "") {
				$('#username_error').show();
				isError = true;
			} else {
				$('#username_error').hide();
			}
			
			var pattern = /^[0-9a-zA-Z]{1,}@[0-9a-zA-Z]{1,}\.\w+$/;
			var email = $("#email").val();
			if (!pattern.test(email)) {
				$('#email_error').show();
				isError = true;
			} else {
				$('#email_error').hide();
			}
			
			var password = $("#password").val();
			if (password == null || password == "") {
				$("#password_error").show();
				isError = true;
			} else {
				$("#password_error").hide();
				
				var sure_password = $("#sure_password").val();
				if ($("#password").val() != $("#sure_password").val()) {
					$("#sure_password_error").show();
					isError = true;
				} else {
					$("#sure_password_error").hide();
				}
			}
			
			if (!isError) {
				$("form").submit();
			}
		}
	</script>
</body>
</html>