{% extends 'home_base.html' %}

{% block main %}
<main>
    <div class="row">
        <div class="col l3 s1"></div>
        <form method="get" action="{% url 'mediaplatform:contacts' %}">
            <div class="input-field col l6 s10">
                <input id="search" type="search" class="center-align" name="search_name"
                       placeholder="请输入要查找的人名" value="{{ search_name }}">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
        </form>
        <div class="col l3 s1"></div>
    </div>

    <div class="row">
        <div class="col l5 s3"></div>
        <button class="col l2 s6 waves-effect waves-light btn" onclick="onAddNewContactClicked()">添加通信录</button>
        <div class="col l5 s3"></div>
    </div>

    <div class="row">
        <div class="col l2 s1"></div>
        {% if show_contacts|length != 0 %}
        <ul class="col l8 s10 collapsible popout" data-collapsible="accordion" style="overflow:auto;height:500px">
            {% for name, phone_numbers in show_contacts.items %}
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">list</i>
                    <span class="name">{{ name }}</span>
                    <span class="badge">{{ phone_numbers|length }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <button class="right waves-effect waves-light btn" onclick="onAddNewPhoneNumClicked()">添加新号码</button>
                    </div>
                    <div class="row">
                        <div class="col l2 s3">号码:</div>
                        <div class="col l10 s9">
                            <ul>
                                {% for phone_number in phone_numbers %}
                                <li>
                                    <div class="row">
                                        <div class="col l6 s6">{{ phone_number }}</div>
                                        <div class="col l6 s6 right-align">
                                            <a class="modal-trigger" href="javascript:void(0)" onclick="onModifyClicked(this)"
                                               data-phone_number="{{ phone_number }}">修改</a>
                                            <a class="modal-trigger" href="javascript:void(0)" onclick="onDeleteClicked(this)"
                                               data-phone_number="{{ phone_number }}">删除</a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <h3 class="col l8 s10 center-align">您还没有通信录数据，可以使用APP备份数据</h3>
        {% endif %}
        <div class="col l2 s1"></div>
    </div>

    <!-- Modal Structure -->
    <div id="modify_phone_number_dialog" class="modal">
        <div class="modal-content">
            <h4 id="modify_modal_title">号码修改</h4>
            <input type="hidden" id="modify_name" name="name" />
            <input type="hidden" id="modify_old_phone_number" name="old_phone_number" />
            <input type="text" id="modify_new_phone_number" name="new_phone_number" placeholder="请输入新的号码"/>
        </div>
        <div class="modal-footer">
            <button class="modal-action waves-effect waves-light btn" onclick="onModifyPhoneNumber()">确定</button>
            <button class="modal-action modal-close waves-effect waves-green btn">取消</button>
        </div>
    </div>

    <div id="delete_phone_number_dialog" class="modal">
        <div class="modal-content">
            <h4 id="delete_modal_title">号码删除</h4>
            <p id="delete_dialog_message">确认删除号码：</p>
            <input type="hidden" id="delete_name" />
            <input type="hidden" id="delete_phone_number" />
        </div>
        <div class="modal-footer">
            <button class="modal-action waves-effect waves-light btn" onclick="onDeletePhoneNumber()">确定</button>
            <button class="modal-action modal-close waves-effect waves-green btn">取消</button>
        </div>
    </div>

    <div id="add_new_phone_number_dialog" class="modal">
        <div class="modal-content">
            <h4 id="add_new_phone_title">添加号码</h4>
            <input type="text" id="new_phone_number" placeholder="请输入添加的号码">
            <input type="hidden" id="new_phone_number_name" />
        </div>
        <div class="modal-footer">
            <button class="modal-action waves-effect waves-light btn" onclick="onAddPhoneNumber()">确定</button>
            <button class="modal-action modal-close waves-effect waves-green btn">取消</button>
        </div>
    </div>

    <div id="add_new_contact_dialog" class="modal">
        <div class="modal-content">
            <h4 id="add_new_contact_title">添加号码</h4>
            <label for="contact_name">姓名：</label>
            <input type="text" id="contact_name" placeholder="请输入姓名"/>
            <label for="contact_phone_number">电话号码：</label>
            <input type="text" id="contact_phone_number" placeholder="请输入添加的号码">
        </div>
        <div class="modal-footer">
            <button class="modal-action waves-effect waves-light btn" onclick="onAddContact()">确定</button>
            <button class="modal-action modal-close waves-effect waves-green btn">取消</button>
        </div>
    </div>

    <div id="alert_dialog" class="modal">
        <div class="modal-content">
            <h4 id="alert_title"></h4>
            <p id="alert_message"></p>
        </div>
        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-green btn">关闭</button>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript_code %}
    $(function(){
        $('.modal').modal();
    });

    function onModifyClicked(obj) {
        $('#modify_phone_number_dialog').modal('open');

        var name = $('div.active > span.name').text();
        $('#modify_modal_title').text(name);
        $('#modify_name').val(name)

        var phoneNumber = $(obj).data('phone_number')
        $('#modify_old_phone_number').val(phoneNumber);
        $('#modify_new_phone_number').val(phoneNumber);
    }

    function onDeleteClicked(obj) {
        $('#delete_phone_number_dialog').modal('open');

        var name = $('div.active > span.name').text();
        $('#delete_modal_title').text(name);
        $('#delete_name').val(name)

        var phoneNumber = $(obj).data('phone_number')
        $('#delete_phone_number').val(phoneNumber);
        $('#delete_dialog_message').text('确认删除号码：' + phoneNumber)
    }

    function onAddNewPhoneNumClicked() {
        $('#add_new_phone_number_dialog').modal('open');

        var name = $('div.active > span.name').text();
        $('#new_phone_number_name').val(name)
    }

    function onAddNewContactClicked() {
        $('#add_new_contact_dialog').modal('open');
    }

    function onModifyPhoneNumber() {
        $('#modify_phone_number_dialog').modal('close');

        var name = $('#modify_name').val();
        var oldPhoneNumber = $('#modify_old_phone_number').val();
        var newPhoneNumber = $('#modify_new_phone_number').val();
        if (oldPhoneNumber == newPhoneNumber) {
            $('#modify_phone_number_dialog').modal('close');
            showAlertDialog('修改失败', '新旧号码一样，无需修改');
            return;
        }

        $.post('{% url 'mediaplatform:modify_phone_number' %}',
               {csrfmiddlewaretoken: '{{ csrf_token }}',
                'name': name,
                'old_phone_number': oldPhoneNumber,
                'new_phone_number': newPhoneNumber},
               function success(data, textStatus, jqXHR) {
                    if (data.result == 'success') {
                        showAlertDialog('修改成功', '待手机端同步后，刷新页面可看到修改');
                    } else {
                        showAlertDialog('修改失败', data.error);
                    }
               }).fail(function() {
                    showAlertDialog('修改失败', '与服务器通信异常');
               })
    }

    function onDeletePhoneNumber() {
        $('#delete_phone_number_dialog').modal('close');

        var name = $('#delete_name').val();
        if (name == "") {
            $('#delete_phone_number_dialog').modal('close');
            showAlertDialog('删除失败', '通信录姓名为空');
            return;
        }

        var phoneNumber = $('#delete_phone_number').val()
        if (phoneNumber == "") {
            $('#delete_phone_number_dialog').modal('close');
            showAlertDialog('删除失败', '手机号不能为空');
            return;
        }

        $.post('{% url 'mediaplatform:delete_phone_number' %}',
               {csrfmiddlewaretoken: '{{ csrf_token }}',
                'name': name,
                'phone_number': phoneNumber},
               function success(data, textStatus, jqXHR) {
                    if (data.result == 'success') {
                        showAlertDialog('删除成功', '待手机端同步后，刷新页面可看到修改');
                    } else {
                        showAlertDialog('删除失败', data.error);
                    }
               }).fail(function() {
                    showAlertDialog('删除失败', '与服务器通信异常');
               });
    }

    function onAddPhoneNumber() {
        $('#add_new_phone_number_dialog').modal('close');

        var name = $('#new_phone_number_name').val();
        if (name == "") {
            $('#add_new_phone_number_dialog').modal('close');
            showAlertDialog('添加失败', '通信录姓名为空');
            return;
        }

        var phoneNumber = $('#new_phone_number').val()
        if (phoneNumber == "") {
            $('#add_new_phone_number_dialog').modal('close');
            showAlertDialog('添加失败', '手机号不能为空');
            return;
        }

        $.post('{% url 'mediaplatform:add_phone_number' %}',
               {csrfmiddlewaretoken: '{{ csrf_token }}',
                'name': name,
                'phone_number': phoneNumber},
               function success(data, textStatus, jqXHR) {
                    if (data.result == 'success') {
                        showAlertDialog('添加成功', '待手机端同步后，刷新页面可看到修改');
                    } else {
                        showAlertDialog('添加失败', data.error);
                    }
               }).fail(function() {
                    showAlertDialog('添加失败', '与服务器通信异常');
               });
    }

    function onAddContact() {
        $('#add_new_contact_dialog').modal('close');

        var name = $('#contact_name').val();
        if (name == "") {
            $('#add_new_contact_dialog').modal('close');
            showAlertDialog('添加失败', '通信录姓名为空');
            return;
        }

        var phoneNumber = $('#contact_phone_number').val()
        if (phoneNumber == "") {
            $('#add_new_contact_dialog').modal('close');
            showAlertDialog('添加失败', '手机号不能为空');
            return;
        }

        $.post('{% url 'mediaplatform:add_phone_number' %}',
               {csrfmiddlewaretoken: '{{ csrf_token }}',
                'name': name,
                'phone_number': phoneNumber},
               function success(data, textStatus, jqXHR) {
                    if (data.result == 'success') {
                        showAlertDialog('添加成功', '待手机端同步后，刷新页面可看到修改');
                    } else {
                        showAlertDialog('添加失败', data.error);
                    }
               }).fail(function() {
                    showAlertDialog('添加失败', '与服务器通信异常');
               });
    }

    function showAlertDialog(title, message) {
        $('#alert_title').text(title);
        $('#alert_message').text(message);
        $('#alert_dialog').modal('open');
    }
{% endblock %}
